body {
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-size: 4em;
    color: #fff;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}